#img-container:hover {
  content: "123";
}
#trainer-img {
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.stock-img {
  height: 200px;
  width: 260px;
  object-fit: cover;
  margin-top: 10px;
}

#link {
  margin-left: 50px;
}

#whitespace-style {
  white-space: nowrap;
}

#button-read-more {
  display: block;
}

.promo-img {
  width: 400px;
}

#number {
  font-size: 20px;
}

#back {
  margin: auto;
}

/* @media (max-width: 995px) {
  #trainer-img {
    margin-left: 200px;
  }
} */

@media (max-width: 650px) {
  #services-cards {
    display: block;
  }

  .stock-img {
    margin-top: 20px;
  }

  #trainer-img {
    max-width: 200px;
    height: 300px;
    object-fit: cover;
  }

  #call-online {
    display: none;
  }
  .promo-img {
    margin-bottom: 15px;
  }
}

@media (max-width: 350px) {
  #trainer-img {
    max-width: 150px;
  }
  #img-container {
    margin: 0;
    padding: 0;
  }
}
